Source: libtest-harness-perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Damyan Ivanov <dmn@debian.org>,
           gregor herrmann <gregoa@debian.org>
Section: perl
Testsuite: autopkgtest-pkg-perl
Priority: optional
Build-Depends: debhelper-compat (= 13)
Build-Depends-Indep: perl
Standards-Version: 4.7.0
Vcs-Browser: https://salsa.debian.org/perl-team/modules/packages/libtest-harness-perl
Vcs-Git: https://salsa.debian.org/perl-team/modules/packages/libtest-harness-perl.git
Homepage: https://metacpan.org/release/Test-Harness
Rules-Requires-Root: no

Package: libtest-harness-perl
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
         ${perl:Depends}
Description: module to run standard Perl test scripts with statistics
 Test::Harness is a Perl module usually invoked by Perl's test systems, namely
 Test::Simple, Test::More and those based on Test::Builder.
 .
 This module is already included as part of Perl's core distribution, so this
 package is only beneficial when newer features or bug fixes are required. For
 details, please see Bug #383517.
